/* GENERAL */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
     font-family: 'Lato', sans-serif; 
}
/* UTILITIES */
body {
    background: black;
    color:white;
    /* diamo 100vh così da poter distanziare come vogliamo i tre figli diretti di body*/
    height: 100vh;
    /* body è il mio contenitore principale, quindi header, main, footer essendo i suoi figli diretti prenderanno questa regola */
    display: flex;
    /* disposizione su colonne */
    flex-direction: column;
}
/* button */
.but {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    padding: 4px;
    border-radius: 6px;
    border: none;
}
/* margin */
.margin-r{
    margin-right: 2px;
}

/* HEADER CONTAIN */
header {
    height: 40px;
   /*  background-color: /* blanchedalmond; */ 
    text-align: right;
    padding: 10px;
}




/* MAIN CONTAIN */
main {
    /* gestisco in modo dinamico i flex items, il main aumenta con l'aggiunta del contenuto al suo interno */
    flex-grow: 1;
    background-color: rgb(241, 176, 78);
    padding: 15px 0;
}
/* contenitore padre */
.container {
    display: flex;
    /* con wrap gli elementi andranno a capo su più righe, dall'alto verso il basso */
    flex-wrap: wrap;
    /* imposto gli elementi al centro del contenitore, anche se andranno a capo si posizioneranno sempre al centro */
    justify-content: center;
}

.block {
    width: 250px;
    height: 150px;
    margin: 5px;
    background-color: rgb(197, 85, 65);
    /* posizione di riferimento per lo span */
    position: relative;

}
/* insert img */
 .block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* span inserito nell'immagine */

.block .sound {
    position: absolute;
    left: 0;
    bottom: 0;
}


/* FOOTER SECTION */
footer {
    height: 40px;
    background-color: tomato;
}



